<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{url_for ('static', filename='css/...')}}" rel="stylesheet" />
    <title>Парковка на полосе</title>
</head>
<body>
    <p>
        <div class="places-holders__img">
            <iframe src="https://lk.parking.mos.ru/ru/embedded/map/?search=false&amp;footer=false&amp;categoryIds=2,7,5,36,6,3" allowfullscreen="false" style="position:relative;" width="720" height="720" frameborder="1"></iframe>
        </div>
    </p>
</body>
</html>