@import '../../scss';

.phoneInput {
  //background: red;
  border: 1px solid $grey-color;
  border-radius: 20px;
  padding: 6px 10px;

  &:before {
    border: none !important;
  }

  &:after {
    border: none !important;
  }

  & input {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 166.667% */
    letter-spacing: -0.408px;
  }
}